@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: 
    url('../src/assets/fonts/Inter/Inter-Light.ttf'),
    url('../src/assets/fonts/Inter/Inter-Regular.ttf'),
    url('../src/assets/fonts/Inter/Inter-Medium.ttf'),
    url('../src/assets/fonts/Inter/Inter-Bold.ttf'),
    url('../src/assets/fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComputerModern';
  src: 
    url('../src/assets/fonts/ComputerModern/NewCM10-Italic.otf');
  font-weight: normal;
  font-style: normal;
}

.loader {
	border-top-color: #F37024;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
